.row1b{
	margin-top: 30px;
	font-size: 30px;
}

#csvtext{
	text-align: center;
	font-size: 20px;
	margin-bottom : 20px; 
}

.row1h,.row2h,.row3h,.row4h{
	margin-top : 20px;
}
.row3h{
	border: 1px solid grey;
	padding:20px 20px;
	border: 1px solid grey;
	border-radius: 10px;
}
.row1h_1,.row2h_1,.row4h_1{
	border-radius: 10px;
	border: 1px solid grey;
	padding-top: 20px;	
}
.row4h_1{
	text-align: center;
	padding:20px 20px;
}

#add_student,#add_studentp,#change_student,#change_studentp,#add_mentor,#add_mentorp,#assign_mentor,#assign_mentorp,#change_student_form{
	display: none;
}

#select_student{
	font-size: 16px;
	padding: 6px;
	float : right;
}

.msg{
	display: none;
	margin-top: 20px;

}

.welcome{
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
}


//*{border : 2px solid grey;}*/

