
.wrapper {
  min-height: 100%;
  margin-bottom: -20px;
}
.footer,
.push {
  height: 20px;
}
.footer {
  background-color: black;
}
.copyright{
	color: white;
}

.developed{
	float : right;
	color : white;
}

html,body{
	height: 100%;
}


	
