.class_name{
	font-size: 20px;
	margin: 20px 0px;
	width: 100%;
}

.table,th{
	text-align: center;
}


/*{	border : 2px solid grey;}*/

.text_header{
	text-align: center;
	font-size: 25px;
}

.datebox{
	text-align: center;
	margin: 40px auto;
}

.issue{
	margin: 70px auto;
	text-align: center;
}

.issuebox{
	margin : 20px auto;
}

.table_container{
	margin-bottom: 50px;
}

.date_error{
	margin-top: 10px;
	margin-bottom: 0px;
	display: none;
}

